/*! Main Source
 * Materialize v1.0.0 (http://materializecss.com)
 * Copyright 2014-2017 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */

/* Customized by D.Strong */

:root {
  --gallery: #efeeee;
  --donkeybrown: #a3906f;
  --oslogray: #848689;
  --spicypink: #80686e;
  --shark: #212227;
  --white: #fff;

  --primary: #848689;
  --info: #212227;
  --success: #5da361;
  --warning: #da9329;
  --danger: #f44336;
}

/* SITEWIDE COLORS - Custom UI Semantics */
.light-shades-text {
  color: var(--gallery);
}
.light-shades-background {
  background: var(--gallery);
}
.light-accent-text {
  color: var(--donkeybrown);
}
.light-accent-background {
  background: var(--donkeybrown);
}
.main-brand-color-text {
  color: var(--oslogray);
}
.main-brand-color-background {
  background: var(--oslogray);
}
.dark-accent-text {
  color: var(--spicypink);
}
.dark-accent-background {
  background: var(--spicypink);
}
.dark-shades-text {
  color: var(--shark);
}
.dark-shades-background {
  background: var(--shark);
}
.white-background {
  background: var(--white);
}

/* FUNCTIONAL COLORS - Custom UI Semantics */
.primary {
  background: var(--primary);
}
.info {
  background: var(--info);
}
.success {
  background: var(--success);
}
.warning {
  background: var(--warning);
}
.danger {
  background: var(--danger);
}

/* GENERAL STYLES */
body {
  /* background: repeat url(../images/bg-site.png) var(--oslogray);
  background-blend-mode: overlay; */
  background-color: var(--gallery);
}
a {
  color: var(--donkeybrown);
  text-decoration: underline;
}
.page-title {
  color: var(--donkeybrown)
}


/* HEADER STYLES */
.header-container {
  display: grid;
  grid-template-column: 1fr;
  grid-row-gap: 0.2rem;
  justify-items: center;
  align-items: center;
  padding: 50px 0;
  background: var(--shark);
  background-image: url(../images/bg-100daysofcode_edited.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-container a {
   text-decoration: none;
}
.title {
  padding: 10px 15px;
  border-radius: 5px;
}
.site-title {
  font-size: 4rem;
  color: white;
}
.site-subtitle {
  font-size: 2rem;
  color: white;
}
/* HEADER - MEDIA QUERY */
@media only screen and (max-width: 480px) {
  .site-title {
    font-size: 2.5rem;
  }
  .site-subtitle {
    font-size: 1.5rem;
  }
}

/* MENU STYLES */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--shark);
 }
 nav ul li a {
 text-decoration: none;
}
 nav ul li a:hover {
 background:rgba(0, 0, 0, 0.2);
}

/* MAIN STYLES */
main {
   min-height: calc(70vh - 50px);
 }

/* Main Styles + Footer Styles = Sticky Footer */

/* FOOTER STYLES */
footer {
  height: 50px; 
 }


/* BLOG STYLES */
.latest-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.latest-post-item {
  font-size: 1.75rem;
  margin-bottom: 0;
  margin-top: 0;
 }
 .excerpt {
   margin: 20px 0px 20px;
 }

 /* POST STYLES */
 .post-title {
  color: var(--donkeybrown);
  font-size: 2.5em;
  margin-bottom: 0;
}
 .post-body {
  margin-top: 25px;
  line-height: 1.75rem;
  font-size: 1.2rem;
}
/* BLOG - MEDIA QUERY */
@media only screen and (min-width: 1280px) {
  .latest-post {
    grid-template-columns: 1fr 1fr 1fr;

  }
}
@media only screen and (max-width: 480px) {
  .latest-post {
    grid-template-columns: 1fr;

  }
}